#container{
    width: 936px;
    display: flex;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #000;
}

#left{
    width: 240px;
    background-color: #f2f2f2;
    height: 335px;
    border: 2px solid #000;
}

#middle {
    width: 568px;
    height: 339px;
    background-color: rgb(0, 0, 106);
    padding: 35px;
    box-sizing: border-box;
    border: 2px solid #000;
}

#right{
    width:128px;
    height: 335px;
    background-color: rgb(0, 0, 106);
    border: 2px solid #000;
}

#vierkantrechts{
    width: 96px;
    height: 96px;
    background-color: white;
    margin-left: 20px; 
    margin-top: 120px;
}

#kleinblauwvierkantje{
    width: 20px;
    height: 20px;
    background-color: #0006a0;
    margin-left: 0px; 
    margin-top: -96px;
}
#thynehoudtvanfemboysvierkantje{
    width: 480px;
    height:240px;
    background-color: rgb(255, 255, 255);
    border: 2px solid #000;
}
#onderzijdebalk{
    width: 480px;
    height: 25px;
    margin-right: 10px;
    background-color: #1c1747;
    border: 2px solid #000;
}
#klok{
    width:195px;
    height:195px;
    background-color: #ffffff;
    border-radius: 100% ;
    border: 2px solid #000;
    margin-top: 20px;
    margin-left: 20px;
}
#Spoor{
    text-align: center;
    font-weight: bolder;
    margin-top: -20PX;
    margin-left: -5PX;
    
}
#Sprinter img{
    width: 60px;
    padding-top: 10px;
}

#Sprinter{
    font-size: 30px;
    margin-left: 300px;
    -webkit-text-fill-color: #0006a0;
}

#spoornr{
  font-size: 48px;  
  margin-left: 40px;
  margin-top: 25px;
  font-weight: bolder;
}

#minuten{
    font-size: 30px;
    margin-top: -40px; 
    margin-left: 5px;
    -webkit-text-fill-color: #0006a0;    
}

#stad{
    font-size: 30px; 
    margin-top: 10px; 
    margin-left: 5px;
    font-weight: bolder;
    -webkit-text-fill-color: #0006a0; 
}

#stations{
    font-size: 20px; 
}
#clock {
    height: 50px;
    width: 40px;
    color: #36248a;
    font-size: 20px;
    margin-top:10px;
    margin-left: 50px;
}